	
			table, th, td {
				border: 1px solid Black;
			}
			th{
				valign: top;
			}
			tr{
				valign: bottom;
			}
			caption { 
				font-size: 3em;
			}
			p { 
				color: midnightblue;
				font-size: 16px;
				
			}
			body{
				background: -webkit-linear-gradient(left , grey 50%, white);
				margin-left: 5%;
				margin-right:5%;
			}
			
			h1 {  
				color:palevioletred;  
			}
			Strong{
				font-size: 150%;
			}	
				
			img#scaryPic {
				width: 1080px;
				height: 748px;
			}