	
			
			
			body{
				background: darkkhaki;
				margin-left: 10%;
				margin-right:10%;
				font-family:'Times New Roman', Times, serif;
				font-size: 1.3em;
				}
			table, th, td,tr {
				border: 2px solid Black;
				text-align: center;
				margin-top: 2.5%;
				margin-bottom: 2.5%;
				width: fit-content;
				font-size: 1.2em;
				align-items: center;
				margin-left: auto;
				margin-right: auto;
				
			}
			td{
				padding: .3em;
			}
			a  {
				border: solid cyan;
				padding: .5em;
				display: flex;
				width: fit-content;
			}
		
			caption { 
				font-size: 3em;
			}
			p { 
				font-family: 'Times New Roman', Times, serif;
				font-size: 20px;
				
			}
		
			header{
				text-align: center;
				font-size: 2em;
				color: darkolivegreen;
				text-decoration: underline;
				padding-bottom: 2.5%;
			}
			footer{
				text-align:right;
			}
			h1 {  
				color: whitesmoke;
				text-align: center;  
			}
			p strong{
				font-size: 150%;
				color: brown;
			}	
				
			img#football {
				width: 600px;
				height: 450px;
			}
			div.pictureBar {
				display:flex;
				border: 10px solid blueviolet;
				padding: .5em;
				justify-content:center;
				width:fit-content;
				float:inline-start;
				margin-left: auto;
				margin-right: auto;
			}
			div.pictureBlock{
				font-size: 2em;
				height: 50%;
				width:  fit-content;
				font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
				padding: .5em;
				border: 3px solid black;
				background-color: cornflowerblue;
				align-items: center;
				
			}
			div.picture{
				
				width: fit-content;
				
			}
			div.ThorPic {
				width: fit-content;
				border: 3px dotted turquoise;
				
			}
			div.label{
				text-align: center;
				width: fit-content;
			}
			p.intro {  
				font-style: italic;  
			}
			div.JSPara {
				font-size: 2em;
				color: navy;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}
			img#baseball, img#basketball, img#football{
				width: 205px;
				height: 167px;
			}
					
			td#content1 {
				font-family: impact;
			}
			td#content2 {
				font-family: Broadway;
			}
			td#header {
				font-family:monospace;
				
			}
	
			@media (orientation:portrait) {
				body {
					margin-left: 2.5%;
					margin-right: 2.5%;
					font-size: 1em;
				}
				
			}
			@media (max-width: 800px){
				
				div.pictureBar{
					
					width: fit-content;
					height: auto;
					border: 10px solid blue;
					margin-left:2.5%;
					margin-right:2.5%;
				}
				div.pictureBlock{
					font-size: 1em;
					color: white;
					height: auto;
					width:  auto;
					background-color: rgb(46, 58, 80);
					margin-left: auto;
					margin-right: auto;
				}
				body {
					margin-left: 5%;
					margin-right: 5%;
					font-size: 1em;
				}
				img#baseball, img#basketball, img#football{
					width: 154px;
					height: 126px;
				}
			}