	
			table, th, td {
				border: 2px solid Black;
				text-align: center;
				margin: .5em;
				width: 50%;
				font-size: 1.2em;
			}
			a  {
				border: solid cyan;
				padding: .5em;
				display: flex;
				width: fit-content;
			}
		
			caption { 
				font-size: 3em;
			}
			p { 
				font-family: 'Times New Roman', Times, serif;
				font-size: 20px;
				
			}
			body{
				background: darkkhaki;
				margin-left: 5%;
				margin-right:5%;
				font-family:'Times New Roman', Times, serif;
			}
			header{
				text-align: center;
				font-size: 2em;
				color: darkolivegreen;
				text-decoration: underline;
			}
			footer{
				text-align:right;
			}
			h1 {  
				color: whitesmoke;
				text-align: center;  
			}
			p strong{
				font-size: 150%;
				color: brown;
			}	
				
			img#football {
				width: 600px;
				height: 450px;
			}
			div.pictureBar {
				display: flex;
				border: 10px solid blueviolet;
				padding: .5em;
				justify-content: space-around;
				align-items:center;
				width: 60%;
				float:inline-start;
			}
			div.pictureBlock{
				font-size: 2em;
				border: dotted black;
				height: 50%;
				width:  fit-content;
				font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
				padding: .5em;
				border: 3px solid black;
				background-color: cornflowerblue;
				align-items: center;
				justify-content: space-evenly;
			}
			div.picture{
				
				width: fit-content;
				float:inline-start;
			}
			div.label{
				text-align: center;
				width: fit-content;
			}
			p.intro {  
				font-style: italic;  
			}
			div.JSPara {
				font-size: 2em;
				color: navy;
				text-align: center;
			}
			li{
				font-size: 1.4em;
			}
		
			td#content1 {
				font-family: impact;
			}
			td#content2 {
				font-family: Broadway;
			}
			td#header {
				font-family:monospace;
				
			}
			